@import 'app/assets/styles/scss/colors.scss';

.input-field {
  width: 100%;
  display: block;

  &__label {
    font-size: 0.8rem;
    display: block;
    padding: 5px 0;
    color: $grey;
  }

  &__input {
    border: 1px solid $grey;
    height: 45px;
    display: block;
    width: 100%;
    padding: 15px;
  }
}